body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.monster {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    box-shadow: 5px 5px 5px grey;
}

#monster {
    border-radius: 5px;
    background-color: orange;
    width: 100px;
    text-align: center;
    border: peachpuff solid;
    margin-bottom: 20px;
}

#actionbox {
    border: 1px solid grey;
    width: 500px;
    overflow: auto;
    padding: 5px;
}

#actionbox > p {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    width: 75px;
    height: 40px;
    background-color: deepskyblue;
    border: 0;
    margin-right: 8px;
}

button:hover {
    background-color: dodgerblue;
}

footer {
    position: fixed;
    bottom: 0;
    font-style: italic;
    font-size: 0.7em;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        font-size: 0.8em;
    }

    ul {
        flex-direction: column;
    }

    footer {
        display: none;
    }
}

@media (min-width: 768px) {
    #actionbox {
        margin-left: 50px;
    }

    ul > li {
        margin-left: 20px;
    }
}
